# Tutorial 0 - Python3

This is a short tutorial on Python version 3. For a more comprehensive treatment of Python please visit
https://wiki.python.org/moin/BeginnersGuide

## 1. Objects and Data Structures

Everything in Python is an *object*. 

An object in Python has a *type* that defines the kinds of things that programs can do with objects of that particular type.

Types are either scalar or non-scalar. 

Scalar objects are indivisible like *int* and *float*. 

Non-scalar objects, for example *strings*, have internal structure.

In [153]:
# <- The hash symbol in Python is reserved for comments

In [ ]:
""" THIS IS CALLED A DOCSTRING.
    It is a multi-line comment that is must have 3 opening a closing
    quotation marks. These a generally used for function headers. """

In [11]:
a = 5.0

In [12]:
# What is variable a's type?
type(a)

float

In [13]:
# Print statement
print("Hello World")

Hello World

In [14]:
# Find the length of the input string 
len("Hello World")

11

In [15]:
mystring = "Hello World"

Python uses 0 as the first index for an array or list. This is different than Matlab, which uses 1.

In [16]:
# 0 will return the first element. From now one we call this the 0th element. 
mystring[0]

'H'

In [17]:
# -1 will return the last element
mystring[-1]

'd'

In [18]:
# :3 returns elements up to but not including the 3rd element
mystring[:3]

'Hel'

In [19]:
# 3:6 returns 3rd to 5th element
mystring[3:6]

'lo '

In [20]:
# 0:6:2 returns 0th to 6th element but skips by 2
mystring[0:6:2]

'Hlo'

In [20]:
# :: returns all elements 
mystring[::]

'Hello World'

In [18]:
# ::2 returns all elements but skip by 2
mystring[::2]

'HloWrd'

In [21]:
# ::-1 returns all element but backwards
mystring[::-1]

'dlroW olleH'

   ### a) Strings 
Strings are immutable in Python meaning they can't be changed once they are created.

In [22]:
mystring[0] = "p"

TypeError: 'str' object does not support item assignment

We can combine two strings using the `+` operation.

In [3]:
name = "Sam"

In [6]:
last_letters = name[1:]
last_letters

'am'

In [5]:
'P'+last_letters

'Pam'

In [31]:
letter = 'ha'

In [32]:
letter*5

'hahahahaha'

We can also split strings in Python using `x.split()`.

In [7]:
x = "Hello World"
# Here we are splitting on the space
x.split()

['Hello', 'World']

In [8]:
y = "This is a string"
# Here we are splitting on 'i'
y.split("i")

['Th', 's ', 's a str', 'ng']

String formatting

In [22]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [23]:
# Float formatting {value:width.precisonf}
result = 100/777
result

0.1287001287001287

In [24]:
print("The result was {r:1.2f}".format(r=result))

The result was 0.13

String literals

In [25]:
name = "Sam"
age = 3

In [26]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

### b) Lists 
Are ordered sequences that can hold a variety of objects. They can be indexed and sliced.

In [2]:
mylist = ['one', 'two', 'three']

In [4]:
# Return all elements including 1 to the end of the list
mylist[1:]

['two', 'three']

In [6]:
another_list = ['four', 'five']

In [7]:
# + concatenates lists
new_list = mylist + another_list
new_list

['one', 'two', 'three', 'four', 'five']

In [9]:
# list are mutable
new_list[0] = 'ONE'
new_list

['ONE', 'two', 'three', 'four', 'five']

In [10]:
# Append will insert the argument at the end 
new_list.append('six')
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [11]:
# This pops off the item designated by argument, by default it's -1 
# or the end of the list
new_list.pop()

'six'

In [12]:
new_list

['ONE', 'two', 'three', 'four', 'five']

A function that is `NoneType` in Python is a function that does not return anything.

In [15]:
num_list = [4, 1, 8, 3]
# sort() is a NoneTyoe. Below will not return anything
num_list.sort()

In [18]:
type(num_list)

list

In [16]:
type(num_list.sort())

NoneType

In [17]:
num_list

[1, 3, 4, 8]

In [22]:
# Instead we must assign to a new list
num_list = [4, 1, 8, 3]
new_num_list = num_list.sort()

Many functions in Python use the `None` object constant to indicate a function doesn't return anything.

In [72]:
# None is a placeholder for variable b, has a NoneType (doesn't 
# return anything)
b = None
b

### c) Dictionaries

Objects in dictionaries are retrieved by the key-value pair. They are unordered and cannot be sorted.

In [30]:
my_dict = {'key1':'value1', 'key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [31]:
d = {'k1': 123, 'k2': [1, 2, 3], 'k3': {'insidekey': 100}}
d

{'k1': 123, 'k2': [1, 2, 3], 'k3': {'insidekey': 100}}

In [32]:
# Look up the value at 'k2'
d['k2']

[1, 2, 3]

In [33]:
# Look up the value at 'k3'
d['k3']

{'insidekey': 100}

In [34]:
# Look up the value at 'insidekey'
d['k3']['insidekey']

100

In [35]:
d = {'key1': ['a', 'b', 'c']}
d

{'key1': ['a', 'b', 'c']}

In [38]:
mylist = d['key1']
mylist

['a', 'b', 'c']

In [39]:
letter = mylist[2]
letter

'c'

In [40]:
# make letter uppercase
letter.upper()

'C'

In [41]:
# in one step
d['key1'][2].upper()

'C'

In [42]:
d = {'k1':100, 'k2':200}
d

{'k1': 100, 'k2': 200}

In [44]:
d['k3'] = 300
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [46]:
d['k1'] = 'NEW VALUE'
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [47]:
# What are the keys of d?
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [48]:
# What are the values of d?
d.values()

dict_values(['NEW VALUE', 200, 300])

In [49]:
# What are all the (key,value) items in d?
d.items()

dict_items([('k1', 'NEW VALUE'), ('k2', 200), ('k3', 300)])

### d) Tuples
Like lists but are immutable since we can't reassign any of the elements.

In [51]:
# use open/close parenthesis
t = ('one', 2)
t

('one', 2)

In [53]:
t[-1]

2

In [54]:
# Does len work on tuples?
len(t)

2

In [55]:
t[0] = 'two'

TypeError: 'tuple' object does not support item assignment

In [56]:
t = ('a', 'a', 'b')

In [57]:
# Count the number of times 'a' appears
t.count('a')

2

In [58]:
# Returns first index location element appears
t.index('a')

0

### e) Set
Are unordered collections of unique objects. Objects cannot be repeated.

In [59]:
myset = set()
myset

set()

In [61]:
myset.add(1)
myset

{1}

In [62]:
myset.add(2)
myset

{1, 2}

In [63]:
# Only accepts unique values 
myset.add(2)
myset

{1, 2}

In [ ]:
mylist = [1, 1, 1, 1,2, 2, 2, 2, 3, 3,3]

In [64]:
# Returns unique objects
set(mylist)

{'a', 'b', 'c'}

### f) Booleans

In [65]:
True

True

In [66]:
False

False

In [67]:
type(True)

bool

In [68]:
1 > 2

False

In [69]:
1 == 1

True

### g) SImple File I/O

In [79]:
# Let's open a .txt file we have created called my_txt_file.txt
myfile = open('my_txt_file.txt')

In [80]:
# Let's read the file
myfile.read()

'This is my text file!\n'

In [81]:
# Result below is because cursor needs to be reset
myfile.read()

''

In [82]:
# Result teh cursor
myfile.seek(0)

0

In [83]:
contents = myfile.read()
contents

'This is my text file!\n'

In [84]:
# This will return a list (cursor not reset)
myfile.readlines()

[]

In [85]:
# Cursor reset
myfile.seek(0)

0

In [86]:
myfile.readlines()

['This is my text file!\n']

In [87]:
# Let's close myfile
myfile.close()

In [88]:
# Let's write to a new .txt file
with open("my_new_file.txt", "wt") as f:
    f.write("ONE ON FIRST\nTWO ON SECOND\nTHREE ON THIRD")

In [89]:
# Let's read out file using read only mode
with open("my_new_file.txt", "r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [90]:
# Let's append to file using a mode
with open("my_new_file.txt", "a") as f:
    f.write('\nFOUR ON FOURTH')

In [91]:
with open("my_new_file.txt", "r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

## 2. Statements

### a) if - elif - else

In [93]:
name = 'Frank'
if name == 'Frank':
    print('Hello Frank')
elif name == 'Sam':
    print('Hello Sam')
else:
    print("Sorry, I don't know you.")

Hello Frank

### b) for loops

In [94]:
mylist = [1, 2, 3, 4]

In [113]:
# This checks if 1 is in list
1 in mylist

True

The `for` loop below creates a variable on-the-fly called an `item`. The variable name for `item` is $\textsf{num}$, which is bound to an element in $\textsf{mylist}$ for each iteration of the loop. We could have picked any variable name instead of $\textsf{num}$.

In [104]:
for num in mylist:
    print(num)

1
2
3
4

Let's look at what's going on per loop.

In [110]:
index_count = 0
for num in mylist:
    print('loop', str(index_count) + ':')
    print('num is now', num)
    # Below is the same as count = count + 1
    index_count += 1
    if index_count == len(mylist):
        print('for loop terminated')

loop 0:
num is now 1
loop 1:
num is now 2
loop 2:
num is now 3
loop 3:
num is now 4
for loop terminated

Scoping is important in for loops! This will return the running total at each iteration.

In [105]:
# Set initial value for variable that is being updated
list_sum = 0 
for num in mylist:
    list_sum += num
    print(list_sum)

1
3
6
10

This will return the total.

In [106]:
list_sum = 0 
for num in mylist:
    list_sum += num
print(list_sum)

10

In [111]:
index_count = 0
word = 'abcd'
for letter in word: 
    print(word[index_count])
    index_count += 1

a
b
c
d

In [112]:
# Cleaner to do the following
word = 'abcd'
for letter in word: 
    print(letter)

a
b
c
d

In [117]:
# Let's print the odd and even numbers in mylist
for num in mylist:
    if num % 2 == 0:
        print(f'even {num}')
    else:
        print(f'odd {num}')

odd 1
even 2
odd 3
even 4

We can use an underscore instead of a name for `item` if we intend not to use it in the body of the loop.

In [118]:
for _ in "Hello World":
    print("Cool!")

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

We can also loop through dictionaries!

In [119]:
d = {'k1': 1, 'k2': 2, 'k3': 3, }

for key, value in d.items():
    print(key, value)

k1 1
k2 2
k3 3

In [136]:
d1 = {1:'Tensorflow', 2:'PyTorch'}
d2 = {'A': [1,2], 'B': [2, 1]}

for value in d2['B']:
    print(d1[value])

PyTorch
Tensorflow

Tuple unpacking is a popular technique for looping through large datasets. Here are some examples.

In [121]:
tup = (1, 2, 3)
for item in tup: 
    print(item)

1
2
3

In [122]:
# Let's make a list of tuples
mylist = [(1,2), (3,4), (5,6), (7,8)]
len(mylist)

4

In [123]:
# Let's unpack these tuples!
for a,b in mylist: 
    print(a)
    print(b)

1
2
3
4
5
6
7
8

### c) Useful operators

#### **range(start, stop, step)**

`range(start, stop, step)` is a *generator* in Python. We will have more example on generators in Python. Right now, let's think of it as similar to  `linspace` in Matlab.

In [124]:
# This will return a range generator type
range(0,11,2)

range(0, 11, 2)

In [125]:
# Let's convert it into a list type
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

`range(n)` is used to return a generator like `0, 1, ..., n-1` which can be used to efficiently loop over values.

In [126]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [127]:
for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [130]:
index_count = 0
for letter in 'abcd':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d

#### enumerate(iterable,...)
Here `iterable` refers to the abstract base class that is essentially anything that can be looped over (i.e. like a string or file). So `enumerate(string)` creates a emumerate generator that returns a tuple like `(0, string[0]), (1, string[1]),....,(n-1,string[n-1]) `

In [131]:
word = 'abcd'
# Returns a enumerate generator type
enumerate(word)

In [132]:
# Let's convert to a list type
list(enumerate(word))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [134]:
# Let's use tuple unpacking
for index, letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d

#### zip(list1, list2, ...)
`zip(list1, list2)` will return something like `(list1[0], list2[0]), (list1[0], list2[0]),...,(list1[n-1], list2[n-1])` a generator that concatenates corresponding indices in each list as tuples.

In [137]:
mylist1 = [1, 2, 3, 4]
mylist2 = ['a', 'b', 'c']
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

We can also used `while` loops.

In [150]:
x = 0
while x < 5:    
    print('x is less than 5')
    x += 1
else:
    print('x is greater than 5')

x is less than 5
x is less than 5
x is less than 5
x is less than 5
x is less than 5
x is greater than 5

### d) List Comprehensions 
List comprehensions are a way of making code short and concise. They are very useful for creating lists:  

$\textit{var} = [\textit{expr}\hspace{0.1cm} \textsf{for}\hspace{0.1cm}\textit{item}\hspace{0.1cm} \textsf{in} \hspace{0.1cm}\textit{iterable}\hspace{0.1cm} \textsf{if}\hspace{0.1cm} \textit{condition}]$

where $\textit{item}$ is a single variable or tuple of variables, $\textit{expr}$ is an expression that uses the variable $\textit{item}$ and evaluates to a list, tuple, string if the expression $\textit{condition}$ is met.

In [9]:
# The usual way
mystring = "Hello"
mylist = []
for letter in mystring:
    # Append letter to mylist
    mylist.append(letter)
mylist

['H', 'e', 'l', 'l', 'o']

In [140]:
# Using list comprehensions
# var = [expr for item in iterable]
mylist = [letter for letter in mystring]
mylist

['H', 'e', 'l', 'l', 'o']

In [143]:
mylist = [x**2 for x in range(11) if x % 2 == 0]
mylist

[0, 4, 16, 36, 64, 100]

In [144]:
# Celsius to Farhrenheit
fahrenheit = []
celsius = [0, 10, 20, 34.5]
for temp in celsius: 
    fahrenheit.append((9/5)*temp + 32)
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [145]:
# List comp
fahrenheit = [(9/5)*temp + 32 for temp in celsius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [147]:
mylist = []
for x in [2, 4, 6]:
    for y in [1, 10, 100]:
        mylist.append(x*y)
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [148]:
mylist = [x*y for x in [2, 4, 6] for y in [1, 10, 100] ]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

We can also do dictionary comprehensions!

In [151]:
d1 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
# dict = {key:value for (key,value) in dictionary.items()}
dd1 = {k:v*2 for (k,v) in d1.items() }
dd1

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [152]:
numbers = range(10)
new_dict = {}
for n in numbers:
    if n % 2 == 0:
        new_dict[n] = n**2
new_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

## 3. Functions

In Python the function definition is of the form

$\textsf{def}\hspace{0.1cm}\textit{function_name}(\textit{parameters}):
\textit{function_body}$

In [19]:
def function_name():
    """
    DOCSTRING: Information about the function. 
    INPUT: No input.
    OUTPUT: Hello
    """
    print("Hello")

In [20]:
# Need the paranthesis to get the output of the function
function_name()

Hello

We have used a default parameter in the parameter list below. The default parameter will default to the value, $\textsf{'NAME'}$, if one is not supplied. Also, we have supplied a return value for the function.

In [159]:
def say_hello(name='NAME'):
    return 'hello ' + name

In [160]:
say_hello()

'hello NAME'

In [161]:
say_hello('Geoff')

'hello Geoff'

In [162]:
def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else: 
        return False

In [163]:
dog_check("Dog ran away")

True

In [164]:
# More efficient
def dog_check(mystring):
    return 'dog' in mystring.lower()

`*args` are called star arguments and `**kwargs` are star keyword arguments. These are used when we have an arbitrary number of positional arguments.

In [165]:
def myfunc(*args):
    # We can treat above as a tuple of parameters as input
    return sum(args) * 0.05

In [166]:
myfunc(40, 60, 100, -20)

9.0

In [168]:
def myfunc(*args):
    for item in args:
        print(item)

In [169]:
myfunc(40, 60, 100)

40
60
100

In [172]:
def myfunk( *args, **kwargs):
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [174]:
myfunk(10, 10, 30, fruit = 'orange', food = 'eggs', animal = 'dog')

I would like 10 eggs

In the example below, we want to add the integers of a list. Let's look at 4 different implementations.

In [175]:
# First way uses a while loop
def add_list1(l):
    suml = 0
    list_length = len(l)
    i = 0
    while(i < list_length):
        suml += l[i]
        i += 1
    return sum1

In [176]:
# Second way uses for loop
def add_list2(l):
    sum2 = 0
    for i in range(len(l)):
        sum2 += l[i]
    return sum2

In [177]:
# A more direct, better approach
def add_list3(l):
    sum3 = 0
    for v in l:
        sum3 += v
    return sum3

In [178]:
# Use built-in functions
def add_list4(l):
    return sum(l)

In the example below we want to normalize a vector, $\mathbf{v}$, such that $\hat{\mathbf{v}}=\frac{\mathbf{v}}{||\mathbf{v}||}$. Let's show a couple of different implementations.

In [179]:
def normalize3(v):
    return [v[0]/math.sqrt(v[0]**2+v[1]**2+v[2]**2),
            v[1]/math.sqrt(v[0]**2+v[1]**2+v[2]**2),
            v[2]/math.sqrt(v[0]**2+v[1]**2+v[2]**2)]

The problem with the implementation above is that it's not very efficient since we are recalculating the denominator.

In [180]:
# Let's save the denominator in it's own variable
def normalize3(v):
    magv = math.sqrt(v[0]**2+v[1]**2+v[2]**2)
    return [v[0]/magv, v[1]/magv, v[2]/magv]

The problem with the above implementation is the repeated pattern of dividing each element by $\textsf{magv}$. Let's put the computation of the magnitude in it's own procedure.

In [181]:
# Let's put magnitude in it's own procedure
def mag(v):
    return math.sqrt(sum([vi**2 for vi in v]))

def normalize3(v):
    return [v1/mag(v) for vi in v]

The above implementation is nice because we can use it for a vector of arbitrary length. Our problem of repeated calculation of $\textsf{mag(v)}$ has come back. Let's remedy this by assigning $\textsf{mag(v)}$ to a variable.

In [184]:
def mag(v):
    return math.sqrt(sum([vi**2 for vi in v]))

def normalize3(v):
    # Here mag(v) calculation is assigned to mag_v variable
    mag_v = mag(v)
    return [vi/mag_v for vi in v]

The implementation above it the best version. Here are some general tips on Python style:
1. Avoid recalculation of the same value
2. Avoid repetition of a pattern of computation. 
3. Avoid numeric indexing. 
4. Avoid excessive numeric constants.

### a) Parameter passing and Return Values

When an immutable object like a tuple is passed as a parameter to a function then the original object is not changed (pass by value). If a mutable object was passed like a list then the original object  changes (pass by reference). Let's look at an example.

In [15]:
a = [1, 2, 3, 4, 5]
def square(items):
    for i, x in enumerate(items):
        items[i] = x * x # Modifies the items in-place
square(a)
a

[1, 4, 9, 16, 25]

This is called a side-effect and can be avoided. For mulitthreaded/concurrent programming this should especially be avoided with locks. Here is a deeper discussion https://stackoverflow.com/questions/20569142/is-there-any-way-to-prevent-side-effects-in-python.

The `return` statement returns a value from a function. If no value is specified or you omit the `return` statement, the `None` object is returned. We can return multiple values by placing in a tuple.

In [18]:
def factor(a):
    d = 2
    while (d <= (a / 2)):
        if ((a / d) * d == a):
            return ((a / d), d)
        d = d + 1
    return (a, 1)
x, y = factor(1234) # Return values placed in x, y
x, y

(617.0, 2)

### b) Function scoping rules

Each time a function executes a local namespace is created which rerpresents the local environement that contains the names of the local parameters and the names of the local variables that are assigned to the function inside the body. When resolving names, the interpreter first looks in the local namespace, and if no name exists, then it will search in the global namespace. It make a final check in the built-in namespace. If this still doesn't work then a `NameError` is raised. 

One peculiarity in Python with global variables is below

In [186]:
# This will return 42
a = 42 
def foo():
    a = 13
foo()
a

42

Note, that the variables inside a function are bound to the local namespace and as a result $\texttt{a}$ in the function body refers to an entirely new object. To alter this behavior we must use `global` statement. This delclares the name belongs to the global namespace.

In [187]:
# This will return 13
a = 42 
def foo():
    global a
    a = 13
foo()
a

13

Variable that are nested are bound using *lexical scoping*. That is, names are resolved  by first checking the local scope and then all enclosing scopes of the outer function definitions from innermost to outermost scope. If no match is found then the global and built-in namespaces are checked as before. We can reassign variables in the inner scope with value of the local variable defined in the outer function using `nonlocal`. Let's show an example.

In [188]:
def countdown(start):
    n = start
    def display():
        print('T-minus %d' % n)
    def decrement():
        nonlocal n # Bind to outer n 
        n -= 1
    while n > 0:
        display()
        decrement()

In [189]:
countdown(5)

T-minus 5
T-minus 4
T-minus 3
T-minus 2
T-minus 1

The $\textsf{nonlocal}$ declaration does not bind a name to local variables defined inside functions further down on the current call-stack.

In [191]:
# This will result in a error
i = 0
def foo():
    i = i + 1
    print(i)
foo()

UnboundLocalError: local variable 'i' referenced before assignment

### c) Functions return functions

In [28]:
def cool():
    def super_cool():
        return "Python is very cool!"
    return super_cool

In [29]:
some_func = cool()

In [30]:
# Here some_func points to super_cool()
some_func

In [31]:
some_func()

'Python is very cool!'

### d) Function closures
Functions are objects in Python and can be passed as arguments to other functions.

In [ ]:
# We have defined foo.py in another file but the definition is below.
# x = 42
# def callf(func):
#     return func()

In [1]:
import foo
x = 37
def helloworld():
    return "Hello World. x is %d" % x
foo.callf(helloworld)

'Hello World. x is 37'

Here we see that $\textsf{helloworld()}$ uses the value of $\textsf{x}$ that's defined in the same environment. When the statements that make up a function are packaged together with the environment in which they execute, the resulting object is called a *closure*. 
All functions have a `__globals__` attribute that points to the global namespace in which the function was defined. This is always the enclosing module in which a function was defined. We can use this on nested functions as well, closure capture the entire environment needed for the inner function to execute.

In [4]:
import foo
def bar():
    x = 13
    def helloworld():
        return "Hello World. x is %d" % x
    foo.callf(helloworld) # returns 'Hello World, x is 13'

Finally, closures can be used to preserve state across a series of function calls. This can be very efficient over using classes.
More information can be found here: https://stackoverflow.com/questions/8966785/function-closure-vs-callable-class

### e) More built-in functions

#### map(function, items, ...)
Applies `function` to every item of `items` and return a map generator. Note, here `items` is something like a list.

In [3]:
def square(num): return num**2

In [5]:
my_nums = [1, 2, 3, 4, 5]
# Returnz a map generator
map(square, my_nums)

In [6]:
# Let's turn the map generator to a list type
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [7]:
# Let's use this map generator in a for loop 
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In the above example we are passing in only the name of $\textsf{square}$ not $\textsf{square}()$, which actually executes the function.

#### filter(function, iterable)
This creates a list of objects from `iterable` for which the `function` evaluates to true.

In [10]:
def check_even(num):
    return num % 2 == 0

for m in filter(check_even, my_nums):
    print(m)

2
4

### f) Lambda functions

Lambda functions are a way of creating functions without a name: 

$\textsf{lambda}\hspace{0.1cm}\textit{args}\hspace{0.1cm}:\hspace{0.1cm}\textit{expression}$

In [1]:
# Usual way
def square(num): return num**2

In [2]:
# Use lambda keyword
lambda num: num**2

In [12]:
list(map(lambda num: num**2, my_nums))

[1, 4, 9, 16, 25]

In [14]:
list(filter(lambda num: num % 2==0, my_nums))

[2, 4]

The primary use of `lambda` is in specifying short callback functions. For example, if you want to sort a list of names with case-insensitivity you can do the following

In [24]:
names = ['Washington', 'Adams', 'Jefferson', 'Madison']
names.sort(key=lambda n: n.lower())
names

['Adams', 'Jefferson', 'Madison', 'Washington']

#### g) Generators and `yield`

If a function uses the `yield` keyword, it defines an object known as a *generator*. A generator is a function that produces a sequence of values for use in iteration. Generally, generators are more memory efficient.

In [32]:
def countdown(n):
    print("Counting down from %d" % n)
    while n > 0:
        yield n 
        n -= 1
    return # Generators can only return None

If we call this function, none of the code begins executing and instead a generator object is returned.

In [34]:
c = countdown(10)
c

The generator object executes the function whenever the built-in Python function `__next__()` is used.

In [36]:
c.__next__()

Counting down from 10

10

In [37]:
c.__next__()

9

When `__next__()` is invoked the generator function executes statements until it reaches a `yield` statement. The `yield` statement produces a result at which point execution of the function stops until `__next__()` is invoked again. Execution then resumes with the statements following `yield`. 

Normally, we don't call `__next__()` directly on a generator but use it with the `for` loop, `sum()`, etc until it is consumed.

In [38]:
for n in countdown(10):
    print(n)

Counting down from 10
10
9
8
7
6
5
4
3
2
1

In [40]:
a = sum(countdown(10))
a

Counting down from 10

55

A generator signals completion by returning or raising `StopIteration`, at which point the iteration stops. It is never legal for a generator to return a value other than `None` on completion.

In [46]:
# Usual way
def gen_fibon(n):
    f1 = 1 
    f2 = 1
    output = []
    for i in range(n):
        output.append(f1)
        f1, f2 = f2, f1 + f2
    return output

In [47]:
# Using yield
def gen_fibon(n):
    f1 = 1 
    f2 = 1
    for i in range(n):
        yield f1
        f1, f2 = f2, f1 + f2
        
for m in gen_fibon(10):
    print(m)

1
1
2
3
5
8
13
21
34
55

A iterator is any object whose class has a `__next__` method and `__iter__` method that returns itself. Every generator is a iterator but not vice versa.

### h) Generator expressions
Is similar to a list comprehension but iteratively produces the result. The syntax is the same as for list comprehensions but use parenthesis. Instead of a list it creates a generator.

In [48]:
a = [1, 2, 3, 4]
b = (10*i for i in a )
b

In [49]:
b.__next__()

10

The difference between list comprehension and generator expressions is that list comps create a list containing all the data while generator expr creates a generator that know how to produce data n demand. This can greatly improve efficiency and memory usage for reading in large files. Also, generator exp do not create an object that works like a sequence but can be converted to a list type.

### i) Decorators 
A *decorator* is a function whose  primary purpose is to wrap another function or class. The purpose is to transparently alter or enhance the behavior of the object being wrapped. Syntatically, decorators are denoted with `@`.

In [ ]:
@trace
def square(x):
    return x*x

# Above is shorthand for the following code
def square(x):
    return x*x
square = trace(square)

In [56]:
def new_decorator(original_func):
    # This function is the extra functionality you want to decorate
    # new_decorator() with
    def wrap_func():
        print('Some extra code, before the original func.')
        original_func()
        print('Some extra code, after the original func.')
    # We're returning the wrap_func, you can think of this
    # as wrapping or decorating a present where the present
    # is original_func above and below it
    return wrap_func

In [57]:
def func_needs_decorator():
    print('I want to be decorated!')
func_needs_decorator()

I want to be decorated!

In [58]:
decorated_func = new_decorator(func_needs_decorator)
decorated_func()

Some extra code, before the original func.
I want to be decorated!
Some extra code, after the original func.

Let's use the decorator special syntax `@` to create the $\textsf{new_decorator}$ instead of assigning it like before.

In [60]:
@new_decorator
def func_needs_decorator():
    print('I want to be decorated!')
func_needs_decorator()

Some extra code, before the original func.
I want to be decorated!
Some extra code, after the original func.

### j) Exception Handling and Errors

We can use the keyword `try`, `except`, and `finally` for exception handling. 

`try`: block of code to be attempted (can lead to an error).

`except`: block of code that will execute in the case of an error in the `try` block.

`finally`: final block to be executed, regardless of error

In [109]:
# Let's use a while loop to check for error
def ask_for_int():
    
    while True: 
        
        try:
            result = int(input("Please provide number."))
        
        except:
            print("Whoops! That's not a number.")
            continue # will continue to next block of code
        
        # below block will run only if try doesn't result in error
        else:
            print('Thank you!')
            break # break out of while loop
        
        # below block can be left out but will always run
        finally:
            print("I will always run!")

In [113]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
        print("Odd number", num)
    print("ODD number", num)

Found an even number 2
ODD number 3
Found an even number 4
ODD number 5
Found an even number 6
ODD number 7
Found an even number 8
ODD number 9

In [104]:
ask_for_int()

Please provide number.10
Thank you!
I will always run!

In [105]:
ask_for_int()

Please provide number.a
Whoops! That's not a number.
I will always run!
Please provide number.b
Whoops! That's not a number.
I will always run!
Please provide number.1
Thank you!
I will always run!

In [110]:
ask_for_int()

Please provide number.a
Whoops! That's not a number.
I will always run!
Please provide number.a
Whoops! That's not a number.
I will always run!
Please provide number.a
Whoops! That's not a number.
I will always run!
Please provide number.5
Thank you!
I will always run!

## 4. Object oriented programming in Python

Object oriented programming (OOP) allows programmers to create their own objects that have methods and attributes. Let's first define a couple of commonly used terms in OOP.
**Object**: an object consists of internal data and methods that perform various kinds of operations involving data. 

**Attributes**: are specific characteristics of an object. 

**Methods**: functions in a class that perform specific operations on an object. 
**Class**: is the definiton of the object, where the class name is usually in camelcase. 
 
**__init__**: is a method that creates an *instance* of the class. 
 
**param1, param2**: are parameters or calculations that are assigned to the attributes of the class. 
 
**self.param1**: `self` signals to Python you are referring to $\textsf{param1}$ that is connected to that instance fo the class. 
 
Typical class definition is therefore:

    class ClassName(): # No arguments, not inheriting from other class 
        def __init__(self, param1, param2):
            self.param1 = param1 
            self.param2 = param2
    
        def method_name(self):
            # perform an action
            print(self.param1)

Below is an example of a class called *Dog*:

In [65]:
class Dog():
    
    # class object attribute will be the same for any instance 
    species = 'mammal'
    
    # _init__ is constructor for the class called automatically
    def __init__(self, breed, name):
        # self is an instance of the object, most oop languages have
        # this hidden
        # attributes
        self.breed = breed
        self.name = name
    
    # methods, ops/actions
    def bark(self, num):
        # Need the self since name connected to object through self
        print("Woof! My name is {} and number is {}".format(self.name, num))

In [68]:
my_dog = Dog('French Mastiff', 'Hooch')
my_dog

In [69]:
# Attribute have nothin to execute and so we can access without
# paranthesis
my_dog.breed

'French Mastiff'

In [70]:
# Class attirbute is similar to a 'callback'
my_dog.species

'mammal'

In [71]:
# Note, the method call requires a positional arg since 'num' is 
# not a attribute
my_dog.bark(10)

Woof! My name is Hooch and number is 10

Let's look at another example $\textsf{Circle}$

In [73]:
class Circle():
    
    # class object attribute
    pi = 3.14
    
    def __init__(self, radius=1):
        self.radius = radius
        self.area = self.pi*radius*radius # use self.pi to access
    
    def get_circumference(self):
        return self.radius*self.pi*2

In [74]:
my_circle = Circle(30)
my_circle

In [75]:
my_circle.pi

3.14

In [76]:
my_circle.area

2826.0

In [78]:
my_circle.get_circumference()

188.4

### a ) Inheritance
Is a way to form new classes from other classes

In [79]:
# The base class
class Animal():
    
    def __init__(self):
        print("ANIMAL CREATED")
        
    def who_am_i(self):
        print("I am an animal")
        
    def eat(self):
        print("I am eating")

In [80]:
# This class inherits from the base class, also called the derived
# class
class Dog(Animal):
    
    def __init__(self):
        # create an instance of the Animal class
        Animal.__init__(self)
        print('DOG CREATED')
    
    # Method eat below will update the methods frm the base clas
    def eat(self):
        print("I am eating and a dog")
        
    def bark(self):
        print("Woof!")

In [81]:
my_dog = Dog()

ANIMAL CREATED
DOG CREATED

In [83]:
my_dog.who_am_i()

I am an animal

In [84]:
my_dog.eat()

I am eating and a dog

### c) Polymorphism
Is the way in which different object classes share same method name. Can be called from same place eventhough different types of objects can be passes in.

In [90]:
class Dog():
    
    def __init__(self, name):
        self.name = name
    
    def speak(self):
        return self.name + " say woof!"
    
class Cat():
    
    def __init__(self, name):
        self.name = name
        
    def speak(self):
        return self.name + " say meow!"

In [91]:
# Let's instantiate the objects
hooch = Dog("hooch")
garfield = Cat("garfield")

In [93]:
# can use a for loop to iterate though each object data
for pet in [hooch, garfield]:
    print(type(pet))
    print(pet.speak())

<class '__main__.Dog'>
hooch say woof!
<class '__main__.Cat'>
garfield say meow!

In [94]:
# can also use a method call
def pet_speak(pet):
    print(pet.speak())
    
pet_speak(hooch)

hooch say woof!

Most of the time we use abstract classes, these classes are never instantiated and serve as base classes.

In [96]:
# Base class
class Animal():
    # constructor of the class
    def __init__(self, name):
        self.name = name
        
    # Animal is the base class so there is not need to instantiate
    def speak(self):
        # Raise error
        raise NotImplementedError("Subclass must implement this abstract method")

In [97]:
# Let's instantiate Animal
my_animal = Animal("Willy")
my_animal.speak()

NotImplementedError: Subclass must implement this abstract method

In [98]:
# Let's overwrite our exception from the base class
class Dog(Animal):
    def speak(self):
        return self.name + " says woof!"

# Let's overwrite our exception from the base class
class Cat(Animal):
    def speak(self):
        return self.name + " says meow!"

In [99]:
lassie = Dog("lassie")
print(lassie.speak())

lassie says woof!

## More advanced OOP concepts (can skip)


### d) Dunder Methods

How do we use the built-in methods (top level environment) like `str` or `len` on classes?

In [132]:
class Book():
    def __init__(self, title, author, pages):
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):
        return f'{self.title} by {self.author}'
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print('A book object has been deleted')

In [134]:
new_book = Book('Principia', 'Isaac Newton', 1031)
print(new_book)

Principia by Isaac Newton

In [135]:
len(new_book)

1031

In [136]:
del(new_book)

A book object has been deleted

Let's do this with a more extensive example.

In [114]:
import datetime

class Person(object):
    
    def __init__(self, name):
        """Create a person"""
        self.name = name
        try:
            last_blank = name.rindex(' ')
            self.last_name = name[last_blank + 1:]
        except:
            self.last_name = name
        self.birthday = None
        
    def get_name(self):
        """Returns self's full name"""
        return self.name
    
    def get_last_name(self):
        """Returns self's last name"""
        return self.last_name
    
    def set_birthday(self, birthdate):
        """Assumes birthdate is of type dataetime.date
           Set's self's birthday to birthdate"""
        self.birthday = birthdate
        
    def get_age(self):
        """Returns self's current age in days"""
        if self.birthday == None:
            raise ValueError
        return (datetime.date.today() - self.birthday).days
    
    def __lt__(self, other):
        """returns True is self's name is lexicographically
           less than other's name, and False otherwise"""
        if self.last_name == other.last_name:
            return self.name < other.name
        return self.last_name < other.last_name
    
    def __str__(self):
        """Returns self's name"""
        return self.name

In [120]:
# Instatiate the objects
curr = Person('Donald Trump')
prev = Person('Barack Obama')
# Print prev_pres last name
print(prev.get_last_name())
# Use the set_birthday method to set the age of prev_pres object
prev.set_birthday(datetime.date(1961, 8, 4))
# Get the number of days old of prev_pres
print(prev.get_name(), 'is', prev.get_age(), 'days old')

Obama
Barack Obama is 20977 days old

Whenever the $\text{Person}$ object is instantiated an argument needs to be supplied to the `__init__` function. When instantiating a class we need to look at the spec of the `__init__` function for the class to know what arguments to pass. 

Note, the expression $\text{prev.last_name()}$ will return $\text{Obama}$ but writing expressions that directly access instance variables is poor form and should be avoided. 

We have also used the special built-in method called `__lt__` and modified it such that when the method $\text{Person.__}\texttt{lt}\text{__(self, other)}$ is called whenever the first argument to the operator, `<`, is of type $\text{Person}$. 

This is an example of operator overloading. Note the expression $\text{self.Name < other.name}$ is shorthand for $\text{self.name.__}\texttt{lt}\text{__(self.other)}$. 

Since $\text{self.name}$ is of type `str` the `__lt__` method is associated with type `str`. This overloading also provides automatic access to any polymorphic method using `__lt__`. The built-in method `sort()` is one such method.

In [121]:
pres_list = [curr, prev]
for pres in pres_list:
    print(pres)

Donald Trump
Barack Obama

In [122]:
# Let's use sort
pres_list.sort()
for pres in pres_list:
    print(pres)

Barack Obama
Donald Trump

### e) Mortgage, Extended Example

Let's build a program that examines the cost of three types of loans:
 - fixed-rate mortgage with no points 
 - fixed-rate mortgage with points, and 
 - mortgage with an initial teaser rate followed by a higher rate for the duration. 
 
 Let's first create an *abstract class* called $\text{Mortgage}$ that contains the methods shared by the subclasses but not intended to be instantiated directly. 
 
 The function $\text{findPayment}$ computes the size of the fixed monthly payment needed to pay off the loan, including interest. It does this using a closed-form expression.

In [144]:
def find_payment(loan, r, m):
    """ Assumes: loan and r are floats, m an int
        Returns the monthly payment for a mortgage of size
        loan at a monthly rate of r for m months"""
    return loan*((r*(1+r)**m)/((1+r)**m - 1))

class Mortgage(object):
    """Abstract class for building different kinds of mortgages""" 
    def __init__(self, loan, ann_rate, months):
        """Create a new mortgage"""
        self.loan = loan
        self.rate = ann_rate/12.0
        self.months = months
        self.paid = [0.0]
        self.owed = [loan]
        self.payment = find_payment(loan, self.rate, months) 
        self.legend = None # description of mortgage
    def make_payment(self):
        """Make a payment""" 
        self.paid.append(self.payment)
        reduction = self.payment - self.owed[-1]*self.rate 
        self.owed.append(self.owed[-1] - reduction)
    def get_total_paid(self):
        """Return the total amount paid so far""" 
        return sum(self.paid)
    def __str__(self): 
        return self.legend

From `__init__` we see that all the $\text{Mortgage}$ instances will have instance variables corresponding to intial loan amount, the monthly interest rate, the duration of the loan in months, a list of payments that have been made at the start of each month (the list starts with 0.0 since no payments have been made at the start of the first month), a list with the balance of the loan that is outstanding at the start of each mmnth, amount to be paid each month(initialized using the value returned by the function $\text{find_payment}$, and a description of the mortgage which has `None`. 

The `__init__` operation of each subclass of $\text{Mortgage}$ is expected to start by calling $\text{Mortgage.__}\texttt{init}$__
and then to initialize *self.legend* to appropiate description of the subclass. 

The method $\text{make_payment}$ is used to records the payments. Payment is for amount of interest due in the outstanding balance, and the remainder is used to reduce the loan balance. That's why it updates both $\text{self.paid}$ and $\text{self.owed}$.

The following code implements two types of mortgages.

In [149]:
class Fixed(Mortgage):
    def __init__(self, loan, r, months):
        Mortgage.__init__(self, loan, r, months)
        self.legend = 'fixed, ' + str(int(r*100)) + '%'
        
class FixedWithPts(Mortgage):
    def __init__(self, loan, r, months, pts):
        Mortgage.__init__(self, loan, r, months)
        self.pts = pts 
        self.paid = [loan*(pts/100.0)]
        self.legend = 'fixed ' + str(r*100) + '%, '\
        + str(pts) + ' points'

Next we have a third type of mortgage subclass $\text{two_rate}$ that treates the mortgage as a concatenation of two loans each at different interest rates. $\text{self.paid}$ is initialized with 0.0 and ot contains one more element than the number of payments that have been made. This is the reason why $\text{make_payment}$ compares $\texttt{len}\text{(self.paid)}$ to $\text{self.teaser_months + 1}$.

In [150]:
class TwoRate(Mortgage):
    def __init__(self, loan, r, months, teaser_rate, teaser_months):
        Mortgage.__init__(self, loan, teaser_rate, months) 
        self.teaser_months = teaser_months
        self.teaser_rate = teaser_rate
        self.next_rate = r/12.0
        self.legend = str(teaser_rate*100)\
                      + '% for ' + str(self.teaser_months)\
                      + ' months, then ' + str(r*100) + '%' 
    def make_payment(self):
        if len(self.paid) == self.teaser_months + 1:
            self.rate = self.next_rate
            self.payment = find_payment(self.owed[-1], self.rate, self.months - self.teaser_months)
            
        Mortgage.make_payment(self)

The next program computes and prints the total cost of each kind of mortgage for a sample set of parameters. It begins by creating a mortgage of each kind. Then it makes a monthly payment on each for a given number of years. Finally, it prints the total amount of the payments made for each loan

In [151]:
def compare_mortgages(amt, years, fixed_rate, pts, pts_rate, 
                      var_rate1, var_rate2, var_months):
    tot_months = years*12
    fixed1 = Fixed(amt, fixed_rate, tot_months)
    fixed2 = FixedWithPts(amt, pts_rate, tot_months, pts)
    two_rate = TwoRate(amt, var_rate2, tot_months, var_rate1, 
                      var_months) 
    morts = [fixed1, fixed2, two_rate]
    for m in range(tot_months):
        for mort in morts: 
            mort.make_payment()
        for m in morts: 
            print(m)
            print(' Total payments = $' + str(int(m.get_total_paid())))

In [153]:
compare_mortgages(amt=200000, years=30, fixed_rate=0.07,
                 pts=3.25, pts_rate=0.05, var_rate1=0.045,
                 var_rate2=0.095, var_months=48)

fixed, 7%
 Total payments = $1330
fixed 5.0%, 3.25 points
 Total payments = $7573
4.5% for 48 months, then 9.5%
 Total payments = $1013
fixed, 7%
 Total payments = $2661
fixed 5.0%, 3.25 points
 Total payments = $8647
4.5% for 48 months, then 9.5%
 Total payments = $2026
fixed, 7%
 Total payments = $3991
fixed 5.0%, 3.25 points
 Total payments = $9720
4.5% for 48 months, then 9.5%
 Total payments = $3040
fixed, 7%
 Total payments = $5322
fixed 5.0%, 3.25 points
 Total payments = $10794
4.5% for 48 months, then 9.5%
 Total payments = $4053
fixed, 7%
 Total payments = $6653
fixed 5.0%, 3.25 points
 Total payments = $11868
4.5% for 48 months, then 9.5%
 Total payments = $5066
fixed, 7%
 Total payments = $7983
fixed 5.0%, 3.25 points
 Total payments = $12941
4.5% for 48 months, then 9.5%
 Total payments = $6080
fixed, 7%
 Total payments = $9314
fixed 5.0%, 3.25 points
 Total payments = $14015
4.5% for 48 months, then 9.5%
 Total payments = $7093
fixed, 7%
 Total payments = $10644
fixed 5.0%, 3.25 points
 Total payments = $15089
4.5% for 48 months, then 9.5%
 Total payments = $8106
fixed, 7%
 Total payments = $11975
fixed 5.0%, 3.25 points
 Total payments = $16162
4.5% for 48 months, then 9.5%
 Total payments = $9120
fixed, 7%
 Total payments = $13306
fixed 5.0%, 3.25 points
 Total payments = $17236
4.5% for 48 months, then 9.5%
 Total payments = $10133
fixed, 7%
 Total payments = $14636
fixed 5.0%, 3.25 points
 Total payments = $18310
4.5% for 48 months, then 9.5%
 Total payments = $11147
fixed, 7%
 Total payments = $15967
fixed 5.0%, 3.25 points
 Total payments = $19383
4.5% for 48 months, then 9.5%
 Total payments = $12160
fixed, 7%
 Total payments = $17297
fixed 5.0%, 3.25 points
 Total payments = $20457
4.5% for 48 months, then 9.5%
 Total payments = $13173
fixed, 7%
 Total payments = $18628
fixed 5.0%, 3.25 points
 Total payments = $21531
4.5% for 48 months, then 9.5%
 Total payments = $14187
fixed, 7%
 Total payments = $19959
fixed 5.0%, 3.25 points
 Total payments = $22604
4.5% for 48 months, then 9.5%
 Total payments = $15200
fixed, 7%
 Total payments = $21289
fixed 5.0%, 3.25 points
 Total payments = $23678
4.5% for 48 months, then 9.5%
 Total payments = $16213
fixed, 7%
 Total payments = $22620
fixed 5.0%, 3.25 points
 Total payments = $24751
4.5% for 48 months, then 9.5%
 Total payments = $17227
fixed, 7%
 Total payments = $23950
fixed 5.0%, 3.25 points
 Total payments = $25825
4.5% for 48 months, then 9.5%
 Total payments = $18240
fixed, 7%
 Total payments = $25281
fixed 5.0%, 3.25 points
 Total payments = $26899
4.5% for 48 months, then 9.5%
 Total payments = $19254
fixed, 7%
 Total payments = $26612
fixed 5.0%, 3.25 points
 Total payments = $27972
4.5% for 48 months, then 9.5%
 Total payments = $20267
fixed, 7%
 Total payments = $27942
fixed 5.0%, 3.25 points
 Total payments = $29046
4.5% for 48 months, then 9.5%
 Total payments = $21280
fixed, 7%
 Total payments = $29273
fixed 5.0%, 3.25 points
 Total payments = $30120
4.5% for 48 months, then 9.5%
 Total payments = $22294
fixed, 7%
 Total payments = $30603
fixed 5.0%, 3.25 points
 Total payments = $31193
4.5% for 48 months, then 9.5%
 Total payments = $23307
fixed, 7%
 Total payments = $31934
fixed 5.0%, 3.25 points
 Total payments = $32267
4.5% for 48 months, then 9.5%
 Total payments = $24320
fixed, 7%
 Total payments = $33265
fixed 5.0%, 3.25 points
 Total payments = $33341
4.5% for 48 months, then 9.5%
 Total payments = $25334
fixed, 7%
 Total payments = $34595
fixed 5.0%, 3.25 points
 Total payments = $34414
4.5% for 48 months, then 9.5%
 Total payments = $26347
fixed, 7%
 Total payments = $35926
fixed 5.0%, 3.25 points
 Total payments = $35488
4.5% for 48 months, then 9.5%
 Total payments = $27361
fixed, 7%
 Total payments = $37256
fixed 5.0%, 3.25 points
 Total payments = $36562
4.5% for 48 months, then 9.5%
 Total payments = $28374
fixed, 7%
 Total payments = $38587
fixed 5.0%, 3.25 points
 Total payments = $37635
4.5% for 48 months, then 9.5%
 Total payments = $29387
fixed, 7%
 Total payments = $39918
fixed 5.0%, 3.25 points
 Total payments = $38709
4.5% for 48 months, then 9.5%
 Total payments = $30401
fixed, 7%
 Total payments = $41248
fixed 5.0%, 3.25 points
 Total payments = $39782
4.5% for 48 months, then 9.5%
 Total payments = $31414
fixed, 7%
 Total payments = $42579
fixed 5.0%, 3.25 points
 Total payments = $40856
4.5% for 48 months, then 9.5%
 Total payments = $32427
fixed, 7%
 Total payments = $43909
fixed 5.0%, 3.25 points
 Total payments = $41930
4.5% for 48 months, then 9.5%
 Total payments = $33441
fixed, 7%
 Total payments = $45240
fixed 5.0%, 3.25 points
 Total payments = $43003
4.5% for 48 months, then 9.5%
 Total payments = $34454
fixed, 7%
 Total payments = $46571
fixed 5.0%, 3.25 points
 Total payments = $44077
4.5% for 48 months, then 9.5%
 Total payments = $35467
fixed, 7%
 Total payments = $47901
fixed 5.0%, 3.25 points
 Total payments = $45151
4.5% for 48 months, then 9.5%
 Total payments = $36481
fixed, 7%
 Total payments = $49232
fixed 5.0%, 3.25 points
 Total payments = $46224
4.5% for 48 months, then 9.5%
 Total payments = $37494
fixed, 7%
 Total payments = $50562
fixed 5.0%, 3.25 points
 Total payments = $47298
4.5% for 48 months, then 9.5%
 Total payments = $38508
fixed, 7%
 Total payments = $51893
fixed 5.0%, 3.25 points
 Total payments = $48372
4.5% for 48 months, then 9.5%
 Total payments = $39521
fixed, 7%
 Total payments = $53224
fixed 5.0%, 3.25 points
 Total payments = $49445
4.5% for 48 months, then 9.5%
 Total payments = $40534
fixed, 7%
 Total payments = $54554
fixed 5.0%, 3.25 points
 Total payments = $50519
4.5% for 48 months, then 9.5%
 Total payments = $41548
fixed, 7%
 Total payments = $55885
fixed 5.0%, 3.25 points
 Total payments = $51593
4.5% for 48 months, then 9.5%
 Total payments = $42561
fixed, 7%
 Total payments = $57216
fixed 5.0%, 3.25 points
 Total payments = $52666
4.5% for 48 months, then 9.5%
 Total payments = $43574
fixed, 7%
 Total payments = $58546
fixed 5.0%, 3.25 points
 Total payments = $53740
4.5% for 48 months, then 9.5%
 Total payments = $44588
fixed, 7%
 Total payments = $59877
fixed 5.0%, 3.25 points
 Total payments = $54813
4.5% for 48 months, then 9.5%
 Total payments = $45601
fixed, 7%
 Total payments = $61207
fixed 5.0%, 3.25 points
 Total payments = $55887
4.5% for 48 months, then 9.5%
 Total payments = $46615
fixed, 7%
 Total payments = $62538
fixed 5.0%, 3.25 points
 Total payments = $56961
4.5% for 48 months, then 9.5%
 Total payments = $47628
fixed, 7%
 Total payments = $63869
fixed 5.0%, 3.25 points
 Total payments = $58034
4.5% for 48 months, then 9.5%
 Total payments = $48641
fixed, 7%
 Total payments = $65199
fixed 5.0%, 3.25 points
 Total payments = $59108
4.5% for 48 months, then 9.5%
 Total payments = $50253
fixed, 7%
 Total payments = $66530
fixed 5.0%, 3.25 points
 Total payments = $60182
4.5% for 48 months, then 9.5%
 Total payments = $51864
fixed, 7%
 Total payments = $67860
fixed 5.0%, 3.25 points
 Total payments = $61255
4.5% for 48 months, then 9.5%
 Total payments = $53476
fixed, 7%
 Total payments = $69191
fixed 5.0%, 3.25 points
 Total payments = $62329
4.5% for 48 months, then 9.5%
 Total payments = $55087
fixed, 7%
 Total payments = $70522
fixed 5.0%, 3.25 points
 Total payments = $63403
4.5% for 48 months, then 9.5%
 Total payments = $56699
fixed, 7%
 Total payments = $71852
fixed 5.0%, 3.25 points
 Total payments = $64476
4.5% for 48 months, then 9.5%
 Total payments = $58311
fixed, 7%
 Total payments = $73183
fixed 5.0%, 3.25 points
 Total payments = $65550
4.5% for 48 months, then 9.5%
 Total payments = $59922
fixed, 7%
 Total payments = $74513
fixed 5.0%, 3.25 points
 Total payments = $66624
4.5% for 48 months, then 9.5%
 Total payments = $61534
fixed, 7%
 Total payments = $75844
fixed 5.0%, 3.25 points
 Total payments = $67697
4.5% for 48 months, then 9.5%
 Total payments = $63145
fixed, 7%
 Total payments = $77175
fixed 5.0%, 3.25 points
 Total payments = $68771
4.5% for 48 months, then 9.5%
 Total payments = $64757
fixed, 7%
 Total payments = $78505
fixed 5.0%, 3.25 points
 Total payments = $69844
4.5% for 48 months, then 9.5%
 Total payments = $66368
fixed, 7%
 Total payments = $79836
fixed 5.0%, 3.25 points
 Total payments = $70918
4.5% for 48 months, then 9.5%
 Total payments = $67980
fixed, 7%
 Total payments = $81166
fixed 5.0%, 3.25 points
 Total payments = $71992
4.5% for 48 months, then 9.5%
 Total payments = $69591
fixed, 7%
 Total payments = $82497
fixed 5.0%, 3.25 points
 Total payments = $73065
4.5% for 48 months, then 9.5%
 Total payments = $71203
fixed, 7%
 Total payments = $83828
fixed 5.0%, 3.25 points
 Total payments = $74139
4.5% for 48 months, then 9.5%
 Total payments = $72815
fixed, 7%
 Total payments = $85158
fixed 5.0%, 3.25 points
 Total payments = $75213
4.5% for 48 months, then 9.5%
 Total payments = $74426
fixed, 7%
 Total payments = $86489
fixed 5.0%, 3.25 points
 Total payments = $76286
4.5% for 48 months, then 9.5%
 Total payments = $76038
fixed, 7%
 Total payments = $87819
fixed 5.0%, 3.25 points
 Total payments = $77360
4.5% for 48 months, then 9.5%
 Total payments = $77649
fixed, 7%
 Total payments = $89150
fixed 5.0%, 3.25 points
 Total payments = $78434
4.5% for 48 months, then 9.5%
 Total payments = $79261
fixed, 7%
 Total payments = $90481
fixed 5.0%, 3.25 points
 Total payments = $79507
4.5% for 48 months, then 9.5%
 Total payments = $80872
fixed, 7%
 Total payments = $91811
fixed 5.0%, 3.25 points
 Total payments = $80581
4.5% for 48 months, then 9.5%
 Total payments = $82484
fixed, 7%
 Total payments = $93142
fixed 5.0%, 3.25 points
 Total payments = $81655
4.5% for 48 months, then 9.5%
 Total payments = $84095
fixed, 7%
 Total payments = $94472
fixed 5.0%, 3.25 points
 Total payments = $82728
4.5% for 48 months, then 9.5%
 Total payments = $85707
fixed, 7%
 Total payments = $95803
fixed 5.0%, 3.25 points
 Total payments = $83802
4.5% for 48 months, then 9.5%
 Total payments = $87318
fixed, 7%
 Total payments = $97134
fixed 5.0%, 3.25 points
 Total payments = $84875
4.5% for 48 months, then 9.5%
 Total payments = $88930
fixed, 7%
 Total payments = $98464
fixed 5.0%, 3.25 points
 Total payments = $85949
4.5% for 48 months, then 9.5%
 Total payments = $90542
fixed, 7%
 Total payments = $99795
fixed 5.0%, 3.25 points
 Total payments = $87023
4.5% for 48 months, then 9.5%
 Total payments = $92153
fixed, 7%
 Total payments = $101125
fixed 5.0%, 3.25 points
 Total payments = $88096
4.5% for 48 months, then 9.5%
 Total payments = $93765
fixed, 7%
 Total payments = $102456
fixed 5.0%, 3.25 points
 Total payments = $89170
4.5% for 48 months, then 9.5%
 Total payments = $95376
fixed, 7%
 Total payments = $103787
fixed 5.0%, 3.25 points
 Total payments = $90244
4.5% for 48 months, then 9.5%
 Total payments = $96988
fixed, 7%
 Total payments = $105117
fixed 5.0%, 3.25 points
 Total payments = $91317
4.5% for 48 months, then 9.5%
 Total payments = $98599
fixed, 7%
 Total payments = $106448
fixed 5.0%, 3.25 points
 Total payments = $92391
4.5% for 48 months, then 9.5%
 Total payments = $100211
fixed, 7%
 Total payments = $107779
fixed 5.0%, 3.25 points
 Total payments = $93465
4.5% for 48 months, then 9.5%
 Total payments = $101822
fixed, 7%
 Total payments = $109109
fixed 5.0%, 3.25 points
 Total payments = $94538
4.5% for 48 months, then 9.5%
 Total payments = $103434
fixed, 7%
 Total payments = $110440
fixed 5.0%, 3.25 points
 Total payments = $95612
4.5% for 48 months, then 9.5%
 Total payments = $105045
fixed, 7%
 Total payments = $111770
fixed 5.0%, 3.25 points
 Total payments = $96686
4.5% for 48 months, then 9.5%
 Total payments = $106657
fixed, 7%
 Total payments = $113101
fixed 5.0%, 3.25 points
 Total payments = $97759
4.5% for 48 months, then 9.5%
 Total payments = $108269
fixed, 7%
 Total payments = $114432
fixed 5.0%, 3.25 points
 Total payments = $98833
4.5% for 48 months, then 9.5%
 Total payments = $109880
fixed, 7%
 Total payments = $115762
fixed 5.0%, 3.25 points
 Total payments = $99906
4.5% for 48 months, then 9.5%
 Total payments = $111492
fixed, 7%
 Total payments = $117093
fixed 5.0%, 3.25 points
 Total payments = $100980
4.5% for 48 months, then 9.5%
 Total payments = $113103
fixed, 7%
 Total payments = $118423
fixed 5.0%, 3.25 points
 Total payments = $102054
4.5% for 48 months, then 9.5%
 Total payments = $114715
fixed, 7%
 Total payments = $119754
fixed 5.0%, 3.25 points
 Total payments = $103127
4.5% for 48 months, then 9.5%
 Total payments = $116326
fixed, 7%
 Total payments = $121085
fixed 5.0%, 3.25 points
 Total payments = $104201
4.5% for 48 months, then 9.5%
 Total payments = $117938
fixed, 7%
 Total payments = $122415
fixed 5.0%, 3.25 points
 Total payments = $105275
4.5% for 48 months, then 9.5%
 Total payments = $119549
fixed, 7%
 Total payments = $123746
fixed 5.0%, 3.25 points
 Total payments = $106348
4.5% for 48 months, then 9.5%
 Total payments = $121161
fixed, 7%
 Total payments = $125076
fixed 5.0%, 3.25 points
 Total payments = $107422
4.5% for 48 months, then 9.5%
 Total payments = $122773
fixed, 7%
 Total payments = $126407
fixed 5.0%, 3.25 points
 Total payments = $108496
4.5% for 48 months, then 9.5%
 Total payments = $124384
fixed, 7%
 Total payments = $127738
fixed 5.0%, 3.25 points
 Total payments = $109569
4.5% for 48 months, then 9.5%
 Total payments = $125996
fixed, 7%
 Total payments = $129068
fixed 5.0%, 3.25 points
 Total payments = $110643
4.5% for 48 months, then 9.5%
 Total payments = $127607
fixed, 7%
 Total payments = $130399
fixed 5.0%, 3.25 points
 Total payments = $111717
4.5% for 48 months, then 9.5%
 Total payments = $129219
fixed, 7%
 Total payments = $131729
fixed 5.0%, 3.25 points
 Total payments = $112790
4.5% for 48 months, then 9.5%
 Total payments = $130830
fixed, 7%
 Total payments = $133060
fixed 5.0%, 3.25 points
 Total payments = $113864
4.5% for 48 months, then 9.5%
 Total payments = $132442
fixed, 7%
 Total payments = $134391
fixed 5.0%, 3.25 points
 Total payments = $114937
4.5% for 48 months, then 9.5%
 Total payments = $134053
fixed, 7%
 Total payments = $135721
fixed 5.0%, 3.25 points
 Total payments = $116011
4.5% for 48 months, then 9.5%
 Total payments = $135665
fixed, 7%
 Total payments = $137052
fixed 5.0%, 3.25 points
 Total payments = $117085
4.5% for 48 months, then 9.5%
 Total payments = $137276
fixed, 7%
 Total payments = $138382
fixed 5.0%, 3.25 points
 Total payments = $118158
4.5% for 48 months, then 9.5%
 Total payments = $138888
fixed, 7%
 Total payments = $139713
fixed 5.0%, 3.25 points
 Total payments = $119232
4.5% for 48 months, then 9.5%
 Total payments = $140500
fixed, 7%
 Total payments = $141044
fixed 5.0%, 3.25 points
 Total payments = $120306
4.5% for 48 months, then 9.5%
 Total payments = $142111
fixed, 7%
 Total payments = $142374
fixed 5.0%, 3.25 points
 Total payments = $121379
4.5% for 48 months, then 9.5%
 Total payments = $143723
fixed, 7%
 Total payments = $143705
fixed 5.0%, 3.25 points
 Total payments = $122453
4.5% for 48 months, then 9.5%
 Total payments = $145334
fixed, 7%
 Total payments = $145035
fixed 5.0%, 3.25 points
 Total payments = $123527
4.5% for 48 months, then 9.5%
 Total payments = $146946
fixed, 7%
 Total payments = $146366
fixed 5.0%, 3.25 points
 Total payments = $124600
4.5% for 48 months, then 9.5%
 Total payments = $148557
fixed, 7%
 Total payments = $147697
fixed 5.0%, 3.25 points
 Total payments = $125674
4.5% for 48 months, then 9.5%
 Total payments = $150169
fixed, 7%
 Total payments = $149027
fixed 5.0%, 3.25 points
 Total payments = $126748
4.5% for 48 months, then 9.5%
 Total payments = $151780
fixed, 7%
 Total payments = $150358
fixed 5.0%, 3.25 points
 Total payments = $127821
4.5% for 48 months, then 9.5%
 Total payments = $153392
fixed, 7%
 Total payments = $151688
fixed 5.0%, 3.25 points
 Total payments = $128895
4.5% for 48 months, then 9.5%
 Total payments = $155003
fixed, 7%
 Total payments = $153019
fixed 5.0%, 3.25 points
 Total payments = $129968
4.5% for 48 months, then 9.5%
 Total payments = $156615
fixed, 7%
 Total payments = $154350
fixed 5.0%, 3.25 points
 Total payments = $131042
4.5% for 48 months, then 9.5%
 Total payments = $158227
fixed, 7%
 Total payments = $155680
fixed 5.0%, 3.25 points
 Total payments = $132116
4.5% for 48 months, then 9.5%
 Total payments = $159838
fixed, 7%
 Total payments = $157011
fixed 5.0%, 3.25 points
 Total payments = $133189
4.5% for 48 months, then 9.5%
 Total payments = $161450
fixed, 7%
 Total payments = $158341
fixed 5.0%, 3.25 points
 Total payments = $134263
4.5% for 48 months, then 9.5%
 Total payments = $163061
fixed, 7%
 Total payments = $159672
fixed 5.0%, 3.25 points
 Total payments = $135337
4.5% for 48 months, then 9.5%
 Total payments = $164673
fixed, 7%
 Total payments = $161003
fixed 5.0%, 3.25 points
 Total payments = $136410
4.5% for 48 months, then 9.5%
 Total payments = $166284
fixed, 7%
 Total payments = $162333
fixed 5.0%, 3.25 points
 Total payments = $137484
4.5% for 48 months, then 9.5%
 Total payments = $167896
fixed, 7%
 Total payments = $163664
fixed 5.0%, 3.25 points
 Total payments = $138558
4.5% for 48 months, then 9.5%
 Total payments = $169507
fixed, 7%
 Total payments = $164995
fixed 5.0%, 3.25 points
 Total payments = $139631
4.5% for 48 months, then 9.5%
 Total payments = $171119
fixed, 7%
 Total payments = $166325
fixed 5.0%, 3.25 points
 Total payments = $140705
4.5% for 48 months, then 9.5%
 Total payments = $172731
fixed, 7%
 Total payments = $167656
fixed 5.0%, 3.25 points
 Total payments = $141779
4.5% for 48 months, then 9.5%
 Total payments = $174342
fixed, 7%
 Total payments = $168986
fixed 5.0%, 3.25 points
 Total payments = $142852
4.5% for 48 months, then 9.5%
 Total payments = $175954
fixed, 7%
 Total payments = $170317
fixed 5.0%, 3.25 points
 Total payments = $143926
4.5% for 48 months, then 9.5%
 Total payments = $177565
fixed, 7%
 Total payments = $171648
fixed 5.0%, 3.25 points
 Total payments = $144999
4.5% for 48 months, then 9.5%
 Total payments = $179177
fixed, 7%
 Total payments = $172978
fixed 5.0%, 3.25 points
 Total payments = $146073
4.5% for 48 months, then 9.5%
 Total payments = $180788
fixed, 7%
 Total payments = $174309
fixed 5.0%, 3.25 points
 Total payments = $147147
4.5% for 48 months, then 9.5%
 Total payments = $182400
fixed, 7%
 Total payments = $175639
fixed 5.0%, 3.25 points
 Total payments = $148220
4.5% for 48 months, then 9.5%
 Total payments = $184011
fixed, 7%
 Total payments = $176970
fixed 5.0%, 3.25 points
 Total payments = $149294
4.5% for 48 months, then 9.5%
 Total payments = $185623
fixed, 7%
 Total payments = $178301
fixed 5.0%, 3.25 points
 Total payments = $150368
4.5% for 48 months, then 9.5%
 Total payments = $187234
fixed, 7%
 Total payments = $179631
fixed 5.0%, 3.25 points
 Total payments = $151441
4.5% for 48 months, then 9.5%
 Total payments = $188846
fixed, 7%
 Total payments = $180962
fixed 5.0%, 3.25 points
 Total payments = $152515
4.5% for 48 months, then 9.5%
 Total payments = $190458
fixed, 7%
 Total payments = $182292
fixed 5.0%, 3.25 points
 Total payments = $153589
4.5% for 48 months, then 9.5%
 Total payments = $192069
fixed, 7%
 Total payments = $183623
fixed 5.0%, 3.25 points
 Total payments = $154662
4.5% for 48 months, then 9.5%
 Total payments = $193681
fixed, 7%
 Total payments = $184954
fixed 5.0%, 3.25 points
 Total payments = $155736
4.5% for 48 months, then 9.5%
 Total payments = $195292
fixed, 7%
 Total payments = $186284
fixed 5.0%, 3.25 points
 Total payments = $156810
4.5% for 48 months, then 9.5%
 Total payments = $196904
fixed, 7%
 Total payments = $187615
fixed 5.0%, 3.25 points
 Total payments = $157883
4.5% for 48 months, then 9.5%
 Total payments = $198515
fixed, 7%
 Total payments = $188945
fixed 5.0%, 3.25 points
 Total payments = $158957
4.5% for 48 months, then 9.5%
 Total payments = $200127
fixed, 7%
 Total payments = $190276
fixed 5.0%, 3.25 points
 Total payments = $160030

fixed, 7%
 Total payments = $427124
fixed 5.0%, 3.25 points
 Total payments = $351139
4.5% for 48 months, then 9.5%
 Total payments = $488594
fixed, 7%
 Total payments = $428454
fixed 5.0%, 3.25 points
 Total payments = $352213
4.5% for 48 months, then 9.5%
 Total payments = $490206
fixed, 7%
 Total payments = $429785
fixed 5.0%, 3.25 points
 Total payments = $353286
4.5% for 48 months, then 9.5%
 Total payments = $491817
fixed, 7%
 Total payments = $431116
fixed 5.0%, 3.25 points
 Total payments = $354360
4.5% for 48 months, then 9.5%
 Total payments = $493429
fixed, 7%
 Total payments = $432446
fixed 5.0%, 3.25 points
 Total payments = $355434
4.5% for 48 months, then 9.5%
 Total payments = $495040
fixed, 7%
 Total payments = $433777
fixed 5.0%, 3.25 points
 Total payments = $356507
4.5% for 48 months, then 9.5%
 Total payments = $496652
fixed, 7%
 Total payments = $435107
fixed 5.0%, 3.25 points
 Total payments = $357581
4.5% for 48 months, then 9.5%
 Total payments = $498263
fixed, 7%
 Total payments = $436438
fixed 5.0%, 3.25 points
 Total payments = $358654
4.5% for 48 months, then 9.5%
 Total payments = $499875
fixed, 7%
 Total payments = $437769
fixed 5.0%, 3.25 points
 Total payments = $359728
4.5% for 48 months, then 9.5%
 Total payments = $501486
fixed, 7%
 Total payments = $439099
fixed 5.0%, 3.25 points
 Total payments = $360802
4.5% for 48 months, then 9.5%
 Total payments = $503098
fixed, 7%
 Total payments = $440430
fixed 5.0%, 3.25 points
 Total payments = $361875
4.5% for 48 months, then 9.5%
 Total payments = $504709
fixed, 7%
 Total payments = $441760
fixed 5.0%, 3.25 points
 Total payments = $362949
4.5% for 48 months, then 9.5%
 Total payments = $506321
fixed, 7%
 Total payments = $443091
fixed 5.0%, 3.25 points
 Total payments = $364023
4.5% for 48 months, then 9.5%
 Total payments = $507933
fixed, 7%
 Total payments = $444422
fixed 5.0%, 3.25 points
 Total payments = $365096
4.5% for 48 months, then 9.5%
 Total payments = $509544
fixed, 7%
 Total payments = $445752
fixed 5.0%, 3.25 points
 Total payments = $366170
4.5% for 48 months, then 9.5%
 Total payments = $511156
fixed, 7%
 Total payments = $447083
fixed 5.0%, 3.25 points
 Total payments = $367244
4.5% for 48 months, then 9.5%
 Total payments = $512767
fixed, 7%
 Total payments = $448413
fixed 5.0%, 3.25 points
 Total payments = $368317
4.5% for 48 months, then 9.5%
 Total payments = $514379
fixed, 7%
 Total payments = $449744
fixed 5.0%, 3.25 points
 Total payments = $369391
4.5% for 48 months, then 9.5%
 Total payments = $515990
fixed, 7%
 Total payments = $451075
fixed 5.0%, 3.25 points
 Total payments = $370465
4.5% for 48 months, then 9.5%
 Total payments = $517602
fixed, 7%
 Total payments = $452405
fixed 5.0%, 3.25 points
 Total payments = $371538
4.5% for 48 months, then 9.5%
 Total payments = $519213
fixed, 7%
 Total payments = $453736
fixed 5.0%, 3.25 points
 Total payments = $372612
4.5% for 48 months, then 9.5%
 Total payments = $520825
fixed, 7%
 Total payments = $455066
fixed 5.0%, 3.25 points
 Total payments = $373685
4.5% for 48 months, then 9.5%
 Total payments = $522437
fixed, 7%
 Total payments = $456397
fixed 5.0%, 3.25 points
 Total payments = $374759
4.5% for 48 months, then 9.5%
 Total payments = $524048
fixed, 7%
 Total payments = $457728
fixed 5.0%, 3.25 points
 Total payments = $375833
4.5% for 48 months, then 9.5%
 Total payments = $525660
fixed, 7%
 Total payments = $459058
fixed 5.0%, 3.25 points
 Total payments = $376906
4.5% for 48 months, then 9.5%
 Total payments = $527271
fixed, 7%
 Total payments = $460389
fixed 5.0%, 3.25 points
 Total payments = $377980
4.5% for 48 months, then 9.5%
 Total payments = $528883
fixed, 7%
 Total payments = $461719
fixed 5.0%, 3.25 points
 Total payments = $379054
4.5% for 48 months, then 9.5%
 Total payments = $530494
fixed, 7%
 Total payments = $463050
fixed 5.0%, 3.25 points
 Total payments = $380127
4.5% for 48 months, then 9.5%
 Total payments = $532106
fixed, 7%
 Total payments = $464381
fixed 5.0%, 3.25 points
 Total payments = $381201
4.5% for 48 months, then 9.5%
 Total payments = $533717
fixed, 7%
 Total payments = $465711
fixed 5.0%, 3.25 points
 Total payments = $382275
4.5% for 48 months, then 9.5%
 Total payments = $535329
fixed, 7%
 Total payments = $467042
fixed 5.0%, 3.25 points
 Total payments = $383348
4.5% for 48 months, then 9.5%
 Total payments = $536940
fixed, 7%
 Total payments = $468372
fixed 5.0%, 3.25 points
 Total payments = $384422
4.5% for 48 months, then 9.5%
 Total payments = $538552
fixed, 7%
 Total payments = $469703
fixed 5.0%, 3.25 points
 Total payments = $385496
4.5% for 48 months, then 9.5%
 Total payments = $540164
fixed, 7%
 Total payments = $471034
fixed 5.0%, 3.25 points
 Total payments = $386569
4.5% for 48 months, then 9.5%
 Total payments = $541775
fixed, 7%
 Total payments = $472364
fixed 5.0%, 3.25 points
 Total payments = $387643
4.5% for 48 months, then 9.5%
 Total payments = $543387
fixed, 7%
 Total payments = $473695
fixed 5.0%, 3.25 points
 Total payments = $388716
4.5% for 48 months, then 9.5%
 Total payments = $544998
fixed, 7%
 Total payments = $475025
fixed 5.0%, 3.25 points
 Total payments = $389790
4.5% for 48 months, then 9.5%
 Total payments = $546610
fixed, 7%
 Total payments = $476356
fixed 5.0%, 3.25 points
 Total payments = $390864
4.5% for 48 months, then 9.5%
 Total payments = $548221
fixed, 7%
 Total payments = $477687
fixed 5.0%, 3.25 points
 Total payments = $391937
4.5% for 48 months, then 9.5%
 Total payments = $549833
fixed, 7%
 Total payments = $479017
fixed 5.0%, 3.25 points
 Total payments = $393011
4.5% for 48 months, then 9.5%
 Total payments = $551444

Notice that we used the keywords rather than the positional arguments in the invocation of $\text{compare_mortgages}$ because $\text{compare_mortgages}$ has a large number of formal parameters and using keywords arguments makes it easier to ensure we are supplying the intended actual values to each of the parameters.

### f) Method Resolution Order (MRO)
The *mro* is a sequence that includes the class, its base classes, and the base classes of that base class and so on until reaching *object* which is the root class of all classes. The ordering is such that the class always appears before its parents and if there are multiple parents they keeps same order as the tuple of base classes. 

Lets take a look at the example below:

In [155]:
class LoggingDict(dict):
    def __setitem__(self, key, value):
        logging.info('Setting to %r' % (key, value))
        super().__setitem__(key, value)

In [156]:
print(LoggingDict.__mro__)

(<class '__main__.LoggingDict'>, <class 'dict'>, <class 'object'>)

A benefit of indirection is that we don't have to specify the delegate class by name, if you edit the source code to switch to another base class or to some other mapping, the `super()` reference will automatically follow. The indirection depends on both the class where `super()` is called and on the instance's tree of ancestors. The first component is determined by source code for that class. 

Above, `super()` is called in the $\text{LoggingDict.__}$$\texttt{setitem}$__ method. Next we can create new subclass with a tree of ancestors. We can do this by constructing ordered dictionaries without modifying our existing classes.

### g)  Superclasses

Super returns a proxy object that delegates method calls to a parent or sibling class. This is usefule for accessing inherited methods that have been overriden in a class. 

With single inheritance `super` can be used to refer to a parent class without naming them. 

Also, `super` can support multiple inheritance in a dynamic execution environment.

In [ ]:
# This does the same thing as
# super(self, C).method(arg)

class C(B):
    def method(self, arg):
        super().method(arg)

Am issue might be the need to match the calling signature of the parent class. One approach is to stick with two arguments, a key and value for methods. 

A more flexible approach is to have every method in ancestor tree of the object hierarchy cooperatively designed to accept keyword arguments and a keyword arguments dictionary, to remove any arguments that it needs, and forward the remaining arguments using `**kwds` eventually leaving the dictionary empty for the final call in the chain. 

Each level strips-off the keyword arguments that it needs so that the final empty dict. can be sent to a method that expects no arguments at all (for example $\text{object.__}$$\texttt{init}$__ will expect zero arguments).

In [157]:
class Shape:
    def __init__(self, shapename, **kwds):
        self.shapename = shapename
        super().__init__(**kwds)

class ColoredShape(Shape):
    def __init__(self, color, **kwds):
        self.color = color
        super().__init__(**kwds)

In [158]:
cs = ColoredShape(color= 'red', shapename='circle')

We have looked at strategies for getting the caller/callee arguments to match. Let's now make sure the target method exists. 

We know that an *object* has an `__init__` method and so any sequence of calls to `super().__init__` is guranteed to end with a call to $\text{object.__}$$\texttt{init}$__ since *object* is always the last class in the mro chain. We're guaranteed that the target of the supe call is guaranteed to exist and won't fail with an `AttributeError`. 

We can create a root class that is guaranteed to be called before *object* where the job of the root class is to eat the method call without making a forwarding call using super.

$\text{Root.draw}$ can employ defensive programming using an assertion to ensure that it isn't masking some other $\text{draw()}$ method later in the chain. This can happen if the subclass erroneously incorporated a class that has a $\text{draw}$ method but doesn't inherit from $\text{Root}$.

In [159]:
class Root:
    def draw(self):
        # the delegation chain stops here
        assert not hasattr(super(), 'draw')
        
class Shape(Root):
    def __init__(self, shapename, **kwds):
        self.shapename = shapename
        super().__init__(**kwds)
    def draw(self):
        print('Drawing. Setting shape to:', self.shapename)
        super().draw()
        
class ColoredShape(Shape):
    def __init__(self, color, **kwds):
        self.color = color
        super().__init__(**kwds)
    def draw(self):
        print('Drawing. Setting color to:', self.color)
        super().draw()

In [160]:
print(ColoredShape.__mro__)

(<class '__main__.ColoredShape'>, <class '__main__.Shape'>, <class '__main__.Root'>, <class 'object'>)

In [161]:
cs = ColoredShape(color='blue', shapename='square')
cs.draw()

Drawing. Setting color to: blue
Drawing. Setting shape to: square

If subclasses want to inject other classes into the mro, those other classes also need to inherit from $\text{Root}$ so that no path for calling $\text{draw()}$ can reach object without having been stopped by $\text{Root.draw}$. This should be clearly documented so that someone writing new cooperating classes will know to subclass from $\text{Root}$.